.classpath
.project
.settings
*.class
/target
/src/main/java/net/alexweinert/coolc/lexer/Lexer.java
/src/main/java/net/alexweinert/coolc/processors/cool/frontend/lexer/Lexer.java
/src/main/java/net/alexweinert/coolc/processors/cool/frontend/lexer/Lexer.java~
/src/main/java/net/alexweinert/coolc/processors/cool/frontend/parser/Parser.java
/src/main/java/net/alexweinert/coolc/processors/cool/frontend/parser/Tokens.java
.DS_Store
.idea
